body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

#gameGrid {
    display: inline-block;
    margin: 12px;
    width: auto;
    height: auto;
    border: 2px solid black;
}
.flex {
    display: flex;
}
.tile {
    height: 48px;
    width: 48px;
    margin: 4px;
    display: inline-block;
    border: 1px solid gray;
    background-color: yellow;
}
.revealedTile {
    background-color: green !important;
}

.gameName {
    font-size: 2rem;
    margin: 20px;
}

.gameNameInList {
    font-size: 1.5rem;
    margin: 1rem;
}

.gameList {
    list-style-type: none;
    margin: 2rem;
}
#levelNotifier {
    font-size: 2rem;
    margin: 20px;
}
.button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(40, 92, 42); /* Green */
    color: white;
}
.hidden {
    display: none;
}
.disabled {
    background-color: rgb(168, 168, 61) !important;
}
#movesContainer {
    margin: 12px;
    font-size: 1.2rem;
}
